*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

section{
    max-width:1900px; 
}
body{
    background:black;
}
@mixin flex-layout($gap:0rem){
    display:flex;
    flex-direction: column;
    gap:$gap;
}
main{
  
  padding: 1rem;
  width: 100%;
  @include flex-layout(1rem);
  align-items: center;

    .view1{
    width: 100%;
    padding: 1rem;
    @include flex-layout(1rem);
   
    .top{
        width: 100%;
       
        img{
            width: 100%;
            border-radius: 0.7rem;
            height: 100%;
            object-fit: cover;
        }
    }
        .bottom{
            border-radius: 0.7rem;
            padding: 1rem;
            color: rgb(191, 191, 191);
            font-weight: 100;
            background-color: #1E1E1E;
            padding: 2rem;
            @include flex-layout(4rem);
            
            p{
                font-weight: 900;
            }
            h1{
                font-size: 2.9rem;
                font-weight: 400; 
                line-height:1.2;
            }
           
            .text{
                padding: 0.7rem;
                @include flex-layout(0.7rem);
                p{
                    line-height: 2.2rem;
                    font-weight: 400;
                    font-size: 1.5rem;
                    opacity: 0.8;
                }
                button{
                width: fit-content;
                padding:1rem;
                background-color: #1E1E1E;
                color: white;
                text-decoration: none;
                border: none;
                }
            }
        }
    }
    .view2{
      color: azure;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 2rem;
      .element{
        @include flex-layout(0.7rem);
      }
      .top,.bottom{
        width: 50%;
        align-items: center;
        @include flex-layout(1rem);
        h2{
          font-size: 3.5rem;
          font-weight: 400;
        }
      }
      

    }
    .view3{
     
      width: 100%;
       @include flex-layout(1rem);
      .top{
        width: 100%;
        img{
          width: 100%;
          border-radius: 1rem;
          object-fit: cover;
          height: 100%;
          
      }
      
      }
      .bottom{
        width: 100%;
        @include flex-layout(4rem);
        padding: 2rem;
        width: 100%;
        color: rgba(244, 242, 237, .6);
         background-color: #1E1E1E;
          border-radius: 1rem;
         .paragraph p {
          display: inline;
         }
        .text {
          font-weight: 400;
          @include flex-layout(1.5rem);
         
          
        }
        h2{
          color: white;
          font-weight: 400;
           font-size: 3rem;
        }
        .text{
          p{
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      }
      
    }
   .view4{
     
      width: 100%;
       @include flex-layout(1rem);
      .top{
        width: 100%;
        img{
          width: 100%;
          border-radius: 1rem;
          object-fit: cover;
          height: 100%;
          
      }
      
      }
      .bottom{
        width: 100%;
        @include flex-layout(4rem);
        padding: 2rem;
        width: 100%;
        color: rgba(244, 242, 237, .6);
         background-color: #1E1E1E;
          border-radius: 1rem;
         .paragraph p {
          display: inline;
         }
        .text {
          font-weight: 400;
          @include flex-layout(1.5rem);
         
          
        }
        h2{
          color: white;
          font-weight: 400;
           font-size: 3rem;
        }
        .text{
          p{
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      }
      
    }
   .view5 {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap:1rem;
    .text{
      color: white;
      width: 100%;
      font-size: 32px;
      padding:0px 24px ;
    }
 .card{
  img {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
  }
    
  }
    }
    .view6{
     
      width: 100%;
       @include flex-layout(1rem);
      .top{
        width: 100%;
        img{
          width: 100%;
          border-radius: 1rem;
          object-fit: cover;
          height: 100%;
          
      }
      
      }
      .bottom{
        width: 100%;
        @include flex-layout(2rem);
        padding: 2rem;
        width: 100%;
        color: rgba(244, 242, 237, .6);
         background-color: #1E1E1E;
          border-radius: 1rem;
        
        .text1{
          @include flex-layout(6rem);
        }
       .text{
        @include flex-layout(0.6rem);
        h2{
          @include flex-layout(1rem);
          color: white;
          font-weight: 400;
          font-size: 2rem;
          line-height:2.6rem ;
          font-family: sans-serif
        }
        
          p{
          font-size: 1rem;
          line-height: 1.5rem;
        }
        }
       p{
        color: white;
       }
     
      }
      
    }
    .view7{
      @include flex-layout(2rem);
      background-color:#CEBD63;
      width: 100%;
      padding: 2rem;
      border-radius: 1.5rem;
      .text{
        @include flex-layout(1.5rem);
      
      p{
        font-size: 14px;
      }
    
      h1{
        font-size: 3rem;
        font-weight: 400;
        line-height: 1;
      }
    }
        button{
        background-color: #1E1E1E;
        color: white;
        padding: 1rem 1.1rem;
        border-radius: 0.8rem;
        width: 100%;
        font-size: 1rem;
      }
    }
  }
 @media (min-width: 755px) and (max-width: 989px)  {     
      main{
      section.view5{
      .card {
      flex: 1 1 calc(50% - 1rem);
      }
       .card:last-child {
      
      max-width: calc(50% - 1rem);
    }

  }
    section.view6{
      
      .bottom{
        .text{
           
            h2{
              font-size: 44px;
              line-height: 3.2rem;
              font-weight: 400;
              
              
            }

        }
      }
    }
}
  }
 
@media (min-width: 990px) {
  main {
    section.view1 {
      flex-direction: row;

      .top,
      .bottom {
        border-radius: 0.7rem;
        width: 50%;
      }
      
      .bottom {
        padding-top: 3rem;
        
        justify-content: space-between;

        p {
          font-size: 1.2rem;
        }

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 4rem;
          }

          p {
            font-size: 1.5rem;
            
          }
        }
        
      }
      
    }
    section.view2{
     
    .top,.bottom{
       flex-direction: row;
       justify-content: space-around;
             
    }
    }
    section.view3{
      flex-direction: row-reverse;
      gap: 1rem;
      .bottom{
        justify-content: space-between;
      }
      .paragraph{
        display: flex;
        gap: 1rem;
      }
      .top,.bottom{
        width: 50%;
      }
    }
    section.view4{
     flex-direction: row;
      gap: 1rem;
      .bottom{
        justify-content: space-between;
      }
      .paragraph{
        display: flex;
        gap: 1rem;
      }
      .top,.bottom{
        width: 50%;
      }
    }
    section.view5{
      .card{
      flex: 1 1 calc(33.33% - 1rem);
      }
    }
    section.view6{
      flex-direction: row;
    }
    section.view7{
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding: 3rem;
      .text{
        h1{
          font-size: 3.5rem;
        }
      }
      .button{
        
        display:flex;
        white-space: nowrap;
       
        button{
        font-size: 0.88;
        padding: 16px 20px;
        
        }
      }
    }
  }
}
