* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

section {
  max-width: 1900px;
}

body {
  background: black;
}

main {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
main .view1 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view1 .top {
  width: 100%;
}
main .view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view1 .bottom {
  border-radius: 0.7rem;
  padding: 1rem;
  color: rgb(191, 191, 191);
  font-weight: 100;
  background-color: #1E1E1E;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .view1 .bottom p {
  font-weight: 900;
}
main .view1 .bottom h1 {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2;
}
main .view1 .bottom .text {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .view1 .bottom .text p {
  line-height: 2.2rem;
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.8;
}
main .view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: #1E1E1E;
  color: white;
  text-decoration: none;
  border: none;
}
main .view2 {
  color: azure;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}
main .view2 .element {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .view2 .top, main .view2 .bottom {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view2 .top h2, main .view2 .bottom h2 {
  font-size: 3.5rem;
  font-weight: 400;
}
main .view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view3 .top {
  width: 100%;
}
main .view3 .top img {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main .view3 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  width: 100%;
  color: rgba(244, 242, 237, 0.6);
  background-color: #1E1E1E;
  border-radius: 1rem;
}
main .view3 .bottom .paragraph p {
  display: inline;
}
main .view3 .bottom .text {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view3 .bottom h2 {
  color: white;
  font-weight: 400;
  font-size: 3rem;
}
main .view3 .bottom .text p {
  font-size: 1rem;
  line-height: 1.5rem;
}
main .view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view4 .top {
  width: 100%;
}
main .view4 .top img {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main .view4 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  width: 100%;
  color: rgba(244, 242, 237, 0.6);
  background-color: #1E1E1E;
  border-radius: 1rem;
}
main .view4 .bottom .paragraph p {
  display: inline;
}
main .view4 .bottom .text {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view4 .bottom h2 {
  color: white;
  font-weight: 400;
  font-size: 3rem;
}
main .view4 .bottom .text p {
  font-size: 1rem;
  line-height: 1.5rem;
}
main .view5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
main .view5 .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

@media (min-width: 755px) and (max-width: 989px) {
  main section.view5 .card {
    flex: 1 1 calc(50% - 1rem);
  }
  main section.view5 .card:last-child {
    max-width: calc(50% - 1rem);
  }
}
@media (min-width: 990px) {
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    border-radius: 0.7rem;
    width: 50%;
  }
  main section.view1 .bottom {
    padding-top: 3rem;
    justify-content: space-between;
  }
  main section.view1 .bottom p {
    font-size: 1.2rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 4rem;
  }
  main section.view1 .bottom .text p {
    font-size: 1.5rem;
  }
  main section.view2 .top, main section.view2 .bottom {
    flex-direction: row;
    justify-content: space-around;
  }
  main section.view3 {
    flex-direction: row-reverse;
    gap: 1rem;
  }
  main section.view3 .bottom {
    justify-content: space-between;
  }
  main section.view3 .paragraph {
    display: flex;
    gap: 1rem;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view4 {
    flex-direction: row;
    gap: 1rem;
  }
  main section.view4 .bottom {
    justify-content: space-between;
  }
  main section.view4 .paragraph {
    display: flex;
    gap: 1rem;
  }
  main section.view4 .top, main section.view4 .bottom {
    width: 50%;
  }
  main section.view5 .card {
    flex: 1 1 calc(33.33% - 1rem);
  }
}/*# sourceMappingURL=style.css.map */